<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartStudy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.christcoding.smartstudy.TermsActivity"
            android:exported="false" />
        <activity
            android:name="de.christcoding.smartstudy.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="de.christcoding.smartstudy.AiExam"
            android:exported="false" />
        <activity
            android:name="de.christcoding.smartstudy.AiGenerateExam"
            android:exported="false" />
        <activity
            android:name="de.christcoding.smartstudy.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name="de.christcoding.smartstudy.GroupChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="de.christcoding.smartstudy.GroupInfoActivity"
            android:exported="false" />
        <activity
            android:name="de.christcoding.smartstudy.GroupActivity"
            android:exported="false" />
        <activity
            android:name="de.christcoding.smartstudy.Registration"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="de.christcoding.smartstudy.Login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="de.christcoding.smartstudy.StartActivity"
            android:exported="true" />
        <activity
            android:name="de.christcoding.smartstudy.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="de.christcoding.smartstudy.firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>